*.suo
*.sdf
Sim/Debug/
*.ilk
*.pdb
*.exe
Contrib/2D Circle Graphic Archive.zip
Contrib/RPGM_XP_Tiles___Seaside_Forest_by_bbrtki.png
Contrib/free_radical_game_sprites__attempt__by_demonhuntrpg-d5tbcs4.png
Contrib/piskel-0.4.2.zip
Contrib/poetsen_one.zip
